{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Module" />

<f:section name="Content">
    <f:be.pageRenderer
        pageTitle="TemplaVoilà! Plus"
        includeCssFiles="{0: '{f:uri.resource(path: \'StyleSheet/ControlCenter.css\', extensionName: \'templavoilaplus\')}'}"
    />

    <h1>{pageTitle}</h1>

    <f:render section="content" arguments="{_all}" />
</f:section>

<f:section name="content">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Places</h3></div>
                <div class="panel-body"></div>
                <ul class="list-group">
                    <f:for each="{availablePlaces}" as="place" key="identifier">
                        <li class="list-group-item">
                            Identifier: {identifier}<br />
                            Backend Name: {place.name}<br />
                            Scope: {place.scope}<br />
                            EntryPoint: {place.entrypoint}<br />
                            ConfigurationHandler Identifier: {place.configurationHandlerIdentifier}<br />
                            LoadSaveHandler Identifier: {place.loadSaveHandlerIdentifier}<br />
                        </li>
                    </f:for>
                </ul>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Available Handler</h3></div>
                <div class="panel-body"></div>
                <ul class="list-group">
                    <f:for each="{availableHandler}" as="handlerType" key="identifier">
                        <li class="list-group-item">
                            Identifier: {identifier}<br />
                            Backend Name: {handlerType.name}<br />
                            Class Name: {handlerType.class}<br />
                        </li>
                    </f:for>
                </ul>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</f:section>
