{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:be.pageRenderer
    pageTitle="TemplaVoilà! Plus"
    includeCssFiles="{0: '{f:uri.resource(path: \'StyleSheet/ControlCenter.css\', extensionName: \'templavoilaplus\')}'}"
    includeRequireJsModules="{PageLayout: 'TYPO3/CMS/Templavoilaplus/ControlCenter', Modal:'TYPO3/CMS/Backend/Modal'}"
    includeJsFiles="{0: '{f:uri.resource(path: \'JavaScript/templavoila.js\', extensionName: \'templavoilaplus\')}'}"
/>

<h1>{pageTitle}</h1>

<f:render section="content" arguments="{_all}" />

<f:section name="content">
    <h2>Data Structure Places</h2>
    <f:for each="{dataStructurePlaces}" as="dataStructurePlace">
        Name: {dataStructurePlace.name}<br />
        Scope: {dataStructurePlace.scope}<br />
        Path: {dataStructurePlace.path}<br />
        <br />
    </f:for>

    <h2>Template Places</h2>
    <f:for each="{templatePlaces}" as="templatePlace">
        Name: {templatePlace.name}<br />
        Scope: {templatePlace.scope}<br />
        Type: {templatePlace.type}<br />
        Path: {templatePlace.path}<br />
        <br />
    </f:for>

    <h2>Mapping Places</h2>
    <f:for each="{mappingPlaces}" as="mappingPlace">
        Name: {mappingPlace.name}<br />
        Scope: {mappingPlace.scope}<br />
        Type: {mappingPlace.type}<br />
        Path: {mappingPlace.path}<br />
        <br />
    </f:for>
</f:section>
