{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:be.pageRenderer
    pageTitle="TemplaVoilà! Plus"
    includeCssFiles="{0: '{f:uri.resource(path: \'StyleSheet/ControlCenter.css\', extensionName: \'templavoilaplus\')}'}"
    includeRequireJsModules="{PageLayout: 'TYPO3/CMS/Templavoilaplus/ControlCenter', Modal:'TYPO3/CMS/Backend/Modal'}"
    includeJsFiles="{0: '{f:uri.resource(path: \'JavaScript/templavoila.js\', extensionName: \'templavoilaplus\')}'}"
/>

<h1>{pageTitle}</h1>

<f:render section="content" arguments="{_all}" />

<f:section name="content">

    <h2>Configuration</h2>

    <div class="row bg-info border border-primary py-2">
        <div class="col-sm-3">
            <div class="card my-0">
                <h5 class="card-header">DataStructures</h5>
                <div class="card-body">
                    <p class="card-text">@TODO Description</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Found <f:count subject="{dataStructurePlaces}" /> configurations</li>
                </ul>
                <div class="card-footer">
                    <f:link.action controller="Backend\ControlCenter\DataStructures" action="list" class="btn btn-primary"><core:icon identifier="actions-view-go-forward" /> View DataStructures</f:link.action>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-0">
                <h5 class="card-header">Mappings</h5>
                <div class="card-body">
                    <p class="card-text">@TODO Description</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Found <f:count subject="{mappingPlaces}" /> configurations</li>
                </ul>
                <div class="card-footer">
                    <f:link.action controller="Backend\ControlCenter\Mappings" action="list" class="btn btn-primary"><core:icon identifier="actions-view-go-forward" /> View Mappings</f:link.action>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-0">
                <h5 class="card-header">Templates</h5>
                <div class="card-body">
                    <p class="card-text">@TODO Description</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Found <f:count subject="{templatePlaces}" /> configurations</li>
                </ul>
                <div class="card-footer">
                    <f:link.action controller="Backend\ControlCenter\Templates" action="list" class="btn btn-primary"><core:icon identifier="actions-view-go-forward" /> View Templates</f:link.action>
                </div>
            </div>
        </div>
    </div>

    <h2>Update</h2>

    <div class="row border border-warning">
        <div class="col-sm-12 p-2">
            <f:link.action controller="Backend\ControlCenter\Update" action="info" class="btn btn-warning"><core:icon identifier="actions-system-extension-update" /> Start Update Scripts</f:link.action>
        </div>
    </div>

    <h2>Debug</h2>

    <div class="row border border-info">
        <div class="col-sm-12 p-2">
            <f:link.action action="debug" class="btn btn-default"><core:icon identifier="actions-document-info" /> Debug informations</f:link.action>
        </div>
    </div>
</f:section>
