{namespace core = TYPO3\CMS\Core\ViewHelpers}
<div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <f:for each="{contentElementsConfig}" as="section" key="sectionKey">
                <a class="nav-link" id="nav-{sectionKey}-tab" data-toggle="tab" href="#nav-{sectionKey}" role="tab" aria-controls="nav-{sectionKey}" aria-selected="false">{section.label}</a>
            </f:for>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <f:for each="{contentElementsConfig}" as="section" key="sectionKey">
            <div class="tab-pane tvjs-drag" id="nav-{sectionKey}" role="tabpanel" aria-labelledby="nav-{sectionKey}-tab">
                <f:for each="{section.contentElements}" as="contentElement" key="contentElementKey">
                    <div class="row">
                        <div class="col-1 dragHandle"><core:icon identifier="{contentElement.iconIdentifier}" size="default" /></div>
                        <div class="col-11">
                            <div><b>{contentElement.title}</b></div>
                            <div>{contentElement.description}</div>
                        </div>
                    </div>
                </f:for>
            </div>
        </f:for>
    </div>
</div>

<script>
    $('#nav-tab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
