{namespace core = TYPO3\CMS\Core\ViewHelpers}
<div>
    <h2><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:trashHeading" /></h2>
    <p><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:trashDesc" /></p>
    <div class="tab-pane active tvjs-drag">
        <f:for each="{unusedElements.elements}" as="contentElement">
            <div class="tvp-node tvp-node-trash card dragHandle">
                <div class="card-header">
                    <div class="container-fluid tvp-node-header" data-record-table="tt_content" data-panel="trash" data-record-uid="{contentElement.uid}">
                        <div class="tvp-node-header-icons-left"><f:format.raw>{contentElement.icon}</f:format.raw></div>
                        <div class="tvp-node-title">{contentElement.title}</div>
                        <div class="tvp-node-header-icons-right">
                            <button type="button" class="btn btn-default btn-sm tvjs-trash-delete">
                                <core:icon identifier="actions-edit-delete"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</div>
