{namespace tvp=Tvp\TemplaVoilaPlus\ViewHelpers}

<f:variable name="labelFromItemlist" value="{tvp:backend.labelFromItemlist(table:'tt_content', fieldName:'CType', key:'{node.raw.entity.CType}')}" />
<f:variable name="nameMappingConfiguration" value="{tvp:backend.labelFromMappingConfiguration(identifier:'{node.raw.entity.tx_templavoilaplus_map}')}" />
<f:if condition="{labelFromItemlist} || {nameMappingConfiguration}">
    <strong>
        <f:if condition="{labelFromItemlist}">
            <f:translate key="{labelFromItemlist}" default="{labelFromItemlist}" />
        </f:if>
        <f:if condition="{nameMappingConfiguration}">
            <f:translate key="{nameMappingConfiguration}" default="{nameMappingConfiguration}" />
        </f:if>
    </strong>
    <br />
</f:if>

<f:for each="{node.datastructure.sheets.sDEF.ROOT.el}" key="fieldName" as="fieldConfig">
    <f:if condition="{fieldConfig.TCEforms.label}">
        <strong><f:translate key="{fieldConfig.TCEforms.label}" default="{fieldConfig.TCEforms.label}" /></strong>
    </f:if>
    <f:format.crop maxCharacters="2000">
        <tvp:format.wordLength maxCharacters="75">
            <tvp:format.stripTags whitespace="true">{node.flexform.data.sDEF.lDEF.{fieldName}.vDEF}</tvp:format.stripTags>
        </tvp:format.wordLength>
    </f:format.crop>
    <br>
</f:for>
