*.idea
*.iml
*.kdev4
*.swp
.DS_Store
.directory
/*.idea
/.Build/*
/.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
/Documentation-GENERATED-temp/
/Resources/Private/Sass/.sass-cache
/Resources/Private/node_modules/
/Resources/Private/package-lock.json
/Resources/Private/yarn-error.log
/Resources/Private/yarn.lock
/build
/clover.xml
/composer.lock
/generate-documentation.sh export-ignore
/nbproject
/node_modules
/node_modules/
/package-lock.json
/public
/tools/testing-docker/.env
/var
/vendor
/yarn-error.log
/yarn.lock
desktop.ini
nbproject
thumbs.db
