$black:         #000000;
$white:         #FFFFFF;

$gray-darker:   #222222;
$gray-dark:     #333333;
$gray:          #5F5F5F;
$gray-medium:   #888888;
$gray-light:    #CACACA;
$gray-lighter:  #EAEAEA;
$gray-lightest: #F7F7F7;

$blue-light:    #DDEEF9;
$blue:          #8AAFC4;
