@import "settings";

div {
    &#typo3-docbody {
        padding: 0;
    }
}

.tpm-editPageScreen {
    div {
        &#typo3-inner-docbody {
            display: table;
            width: 100%;
            padding: 0;
        }
    }
}

.typo3-templavoila-pagemodule {
    > #typo3-docheader {
        > .typo3-docheader-functions {
            padding-top: 5px;
        }
    }

    > #typo3-docbody {
        top: 27px;

        > .typo3-docheader-buttons {
            height: auto;
            padding-top: 0px; padding-bottom: 0px;

            > .docheader-buttons-inner {
                margin-left: 10px;
                margin-right: 10px;
                width: auto;
            }
        }
    }

    #typo3-docbody {
        #tx_templavoila_mod1_sidebar-bar {
            .typo3-dyntabmenu-tabs {
                table {
                    &.typo3-dyntabmenu {
                        td {
                            a, &.disabled, &.disabled_over {
                                padding-top: 3px;
                                padding-bottom: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

table {
    position: relative;
}

.sortableItem .sortable_handle {
    cursor: move;
}

div {
    &.warning {
        background-color: $blue-light;
        border-color: $blue;
        border: 1px solid;
        margin: 4px 0;
        padding: 6px;
        font-weight: bold;
        font-size: 11px;

        img {
            vertical-align: middle;
            padding: 2px 1px;
        }

        a {
            text-decoration: underline;
        }
    }
}

.tpm-bottom-controls {
    display: block;

    img {
        border: none;
        text-align: center;
        vertical-align: middle;
        padding: 0 1px;
    }
}

.tpm-title-cell {
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 0;
}

.tpm-content-cell {
    vertical-align: top;
    padding: 5px;
    border-left: 3px solid $gray;
    min-width: 120px;
}

.tpm-subelement-table {
    border-bottom: 0px;
    font-size: 10px;
    margin: 4px;
}

.tpm-subelement-table .tpm-title-cell {
    background: none;
}

.tpm-sub-elements {
    border-color: $gray-light;
    border-right: 1px solid $gray-light;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    font-size: 10px;
}

.tpm-container-element-depth-odd {
    background: $gray-lighter;
}

.tpm-container-element-depth-even {
    background: $gray-lightest;
}

.active {
    > .tpm-container-element {
        color: $black;
        background-color: $white;

        > a {
            color: $black;
        }
    }
}

/* @todo find a proper "color" for referenced icons */
.tpm-container-element {
    color: $gray;
    width: 100%;
    margin-bottom: 5px;

    a {
        color: $gray;
    }

    .tpm-titlebar-fromOtherPage {
        .t3-row-header {
            background-color: $gray-lighter;
            background-image: -moz-linear-gradient(center top, $gray-medium 10%, $gray 100%)
        }
    }
}

.tpm-element-control {
    text-align: right;
    vertical-align: top;
}

.tpm-titlebar {
    overflow: hidden;
}

.tpm-element-title {
    min-width: 100px;
    margin-right: 140px;
    line-height: 15px;
    padding: 4px 1px 4px 5px;

    a {
        float: left;
    }

    .tpm-langIcon {
        float: left;
        padding-right: 5px;
    }
}

.tpm-preview {
    ul {
        padding: 0 0 0 20px;
        margin: 0
    }
}

.tpm-preview, .tpm-warnings {
    padding: 5px;
}

.t3-page-ce {
    margin-bottom: 0;
}

.tpm-element {
    padding: 5px 5px 5px 0;
}

.tpm-nonused-elements {
    td {
        &:first-child {
            padding: 3px;
        }
    }
}

.tpm-nonused-element {
    td {
        padding: 2px 3px;
        vertical-align: middle;
    }

    &:nth-child(odd) {
        background: #FFF;
    }
}

.t3-row-header {
    .tpm-element-title {
        line-height: 18px;
    }

    .tpm-element-control {
        float: right;
        min-width: 120px;
        height: 20px;
        padding-right: 4px;
        margin-top: 2px;
    }

    color: #fff;
    height: 28px;
}

.t3-page-ce {
    margin-bottom: 0;

    &.inactive, &.active {
        .t3-row-header {
            visibility: visible;
        }
    }

    &.inactive {
        > .tpm-container-element {

            > .tpm-titlebar {
                > .t3-row-header {

                    background: none;
                    color: $black;
                    opacity: 0.5;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                    filter: alpha(opacity=50);

                    > .tpm-element-control {
                        visibility: hidden;
                    }
                }
            }

            &.tpm-hidden {
                > .tpm-titlebar {
                    > .t3-row-header {
                        color: $gray-medium;
                    }
                }
            }
        }
    }
}

.inactive {
    .tpm-hidden {
        .tpm-sub-elements {
            opacity: 0.5;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            filter: alpha(opacity=50);
        }
    }
}

.tpm-localisation-info-table {
    tr {
        &.bgColor4 {
            color: inherit;
        }
    }
}

.tpm-outline-table {
    .tpm-container, .tpm-element, .tpm-elementRef {
        img {
            vertical-align: middle;
            padding: 0 1px;
        }

        .nobr img {
            padding-right: 3px;
        }
    }

    .tpm-outline-level0 {
        background-color: #B8BEC9;
    }

    .tpm-outline-level1 {
        background-color: #F8F9FB;
    }
}

#typo3-docbody > .typo3-message {
    margin: 5px 8px;
}

.drag-placeholder {
    background-color: $blue;
}
