{namespace core=TYPO3\CMS\Core\ViewHelpers}

<style>
.t3js-module-body h1:first-child {display: none;}
</style>

<h1>TemplaVoilà! Plus Update DataStructure</h1>
<f:be.infobox title="Warning" state="1">Please backup your database/files before running any of the update scripts!</f:be.infobox>
<h2>Showing available DataStructures</h2>
<p>You may run this update more then once, also with later versions of TemplaVoilà! Plus to get up to date DataStructures.</p>
<table class="table table-striped table-hover">
    <thead>
        <th nowrap="nowrap">Title</th>
        <th nowrap="nowrap">Scope</th>
        <th nowrap="nowrap">ID/File</th>
        <th nowrap="nowrap">Needs Update</th>
    </thead>
<f:for each="{dataStructures}" as="dataStructure">
    <tr>
        <td>{dataStructure.label}</td>
        <td>
        </td>
        <td>{dataStructure.key}</td>
        <td>Unknown</td>
    </tr>
</f:for>
</table>
<h2>Update?</h2>
<form action="#" method="POST">
    <input type="hidden" name="update" value="DataStructureV7" />
    <f:be.infobox title="" state="1">
        <button class="btn btn-warning btn-block btn-lg" type="submit" name="step" value="final">
            <core:icon identifier="extensions-scheduler-run-task" /> Run Update DataStructure from TYPO3 v6.2 LTS to v7 LTS <small><small>(Version: 0.0.4)</small></small>
        </button>
    </div>
    </f:be.infobox>
</form>
