{namespace core=TYPO3\CMS\Core\ViewHelpers}

<style>
.t3js-module-body h1:first-child {display: none;}
</style>

<h1>TemplaVoilà Plus! Update from old TeamplaVoilà 1.9/2.0</h1>
<f:be.infobox title="Warning" state="2">
    Please backup your database/files before running any of the update scripts!<br />
    This will remove data you already did with this new TemplaVoilà Plus 7.x Extension.
</f:be.infobox>
<h2>Migrate from TemplaVoilà 1.9/2.0 to TemplaVoilà Plus 7.x?</h2>
<form action="#" method="POST">
    <input type="hidden" name="update" value="OldTemplavoila" />
    <f:be.infobox title="" state="1">
        <button class="btn btn-warning btn-block btn-lg" type="submit" name="step" value="final">
            <core:icon identifier="extensions-scheduler-run-task" /> Yes, migrate data from TemplaVoilà 1.9/2.0 to TemplaVoilà Plus 7.x
        </button>
    </div>
    </f:be.infobox>
</form>
