{namespace core=TYPO3\CMS\Core\ViewHelpers}

<style>
.t3js-module-body h1:first-child {display: none;}
</style>

<h1>TemplaVoilà Plus! Migration from old TeamplaVoilà 1.9/2.0</h1>
<f:be.infobox title="Information" state="-1">Migration done.</f:be.infobox>
<f:be.infobox title="Migrated" state="0">
    <p>Migrated Configuration</p>
    <p>Migrated Data Structures: {migratedDs}</p>
    <p>Migrated Template Objects: {migratedTo}</p>
    <p>Migrated Content Elements: {migratedTtContent}</p>
    <p>Migrated Content Elements CType: {migratedCType}</p>
    <p>Migrated pages: {migratedPages}</p>
    <p>Migrated groups: {migratedGroups}</p>
    <p>Migrated user rights: {migratedUserRights}</p>
    <p>Migrated group rights: {migratedGroupRights}</p>
    <p>Migrated group table select: {migrateGroupTableSelect}</p>
    <p>Migrated group table modify: {migrateGroupTableModify}</p>
    <p>Migrated Data Structures data: {migratedDsData}</p>
    <p>Migrated Upload Files: {migratedUploadFiles}</p>
</f:be.infobox>

<f:if condition="{errors}">
    <f:be.infobox title="Errors while processing" state="2">
        <f:for each="{errors}" as="error">
            {error}<br/>
        </f:for>
    </f:be.infobox>
</f:if>
