/* PAGEMODULE CSS */

.typo3-templavoila-pagemodule > #typo3-docbody {
	top:22px;
}

.typo3-templavoila-pagemodule > #typo3-docbody > #typo3-docheader-row2 {
	height:auto;
	padding-top:1px;
}

.typo3-templavoila-pagemodule > #typo3-docbody  > #typo3-docheader-row2 > .docheader-row2-inner {
	margin-left:10px;
	margin-right:10px;
	width:auto;
}

/* general */
table {
	position:relative;
}
.sortableItem .sortable_handle {
	cursor:move;
}

/* warning */
div.warning {
	background-color:#ddeef9;
	border-color:#8aafc4;
	border:1px solid;
	margin: 4px 0;
	padding:6px;
	font-weight: bold;
	font-size: 11px;
}
div.warning img {
	vertical-align: middle;
	padding: 2px 1px;
}
div.warning a {
	text-decoration: underline;
}


/* link icons */
.tpm-bottom-controls {
	display:block;
	margin-bottom: 5px;
}
.tpm-bottom-controls img {
	border: none ; 
	text-align: center; 
	vertical-align: middle;
	padding: 0 1px;
}

/* element titlebars */
.tpm-title-cell {
	vertical-align: top;
	padding-top:0; 
	padding-bottom:0;
}
.tpm-content-cell {
	vertical-align: top;
	padding: 5px;
	border: 1px dashed #000;
}
.tpm-container-element {
	display:block;
	border: 1px solid black; 
	margin-bottom:5px;
}
.tpm-container-element.pagecontainer {
	display:inline-block;
	min-width:100%;
}

.tpm-container-element .tpm-titlebar-page {
	background-color: #B8BEC9;
}
.tpm-container-element .tpm-titlebar {
	background-color: #f8f9fb;
}
.tpm-container-element .tpm-titlebar-fromOtherPage {
	background-color: #e6e9eb;
}
.tpm-container-element .tpm-titlebar img, 
.tpm-container-element .tpm-titlebar-fromOtherPage img,
.tpm-container-element .tpm-titlebar-page img {
	vertical-align: middle;
	padding: 2px 1px;
}
.tpm-container-element .tpm-titlebar span img, 
.tpm-container-element .tpm-titlebar-fromOtherPage span img,
.tpm-container-element .tpm-titlebar-page span img {
	padding-right: 3px;
}

.tpm-titlebar {
	position:relative;
}

.tpm-element-control {
	position:relative;
	right:0px;
	float:right;
	text-align: right; 
	vertical-align:top;
}
.tpm-element-title {
	padding-right:130px;
	vertical-align:top;
	overflow: hidden;
}

.tpm-element-title > a, .tpm-element-title > .tpm-langIcon {
	float:left;
}

.tpm-element-title > div {
	padding-top:2px;
}

.tpm-preview {
	padding:1px 3px 1px 3px
}

.tpm-preview ul {
	padding:0 0 0 20px;
	margin:0
}

.tpm-langIcon {
	padding-top:2px;
	padding-left:2px;
}

/* non-used elements */

.tpm-nonused-elements td:first-child {
	padding:3px;
}

.tpm-nonused-element td {
	padding:2px 3px;
	vertical-align:middle;
}
.tpm-nonused-element:nth-child(odd) {
	background:#ffffff;
}
.tpm-nonused-controls {
	width: 40px;
	padding-left: 4px;
}
.tpm-nonused-ref {
	width: 20px;
	white-space:nowrap;
}
.tpm-nonused-element img,
.tpm-nonused-deleteall img {
	vertical-align: middle;
	padding: 2px 1px;
}
.tpm-nonused-element .tpm-nonused-preview img {
	padding-right: 3px;
}
.tpm-nonused-deleteall {
	padding: 5px 0;
}

/* outline view */
.tpm-outline-table .tpm-container img,
.tpm-outline-table .tpm-element img,
.tpm-outline-table .tpm-elementRef img {
	vertical-align: middle;
	padding: 0 1px;
}
.tpm-outline-table .tpm-container .nobr img,
.tpm-outline-table .tpm-element .nobr img,
.tpm-outline-table .tpm-elementRef .nobr img {
	padding-right: 3px;
}
.tpm-outline-table .tpm-outline-level0 {
	background-color: #b8bec9;
}
.tpm-outline-table .tpm-outline-level1 {
	background-color: #f8f9fb;
}
