<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" xmlns:tvp="Tvp\TemplaVoilaPlus\ViewHelpers">

<div class="tutorial">
    <p>
        <f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.introduction"/>
    </p>
    <h2>
        <f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.sidebar.heading"/>
    </h2>
    <p>
        <f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.sidebar.introduction"/>
    </p>
    <ul class="nav-explained">
        <li>
            <span class="sidenav-item"><tvp:icon identifier="actions-document-add" size="default"/></span>
            <span class="sidenav-item-explaination"><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:newCeWizardAriaLabel"/></span>
        </li>
        <li>
            <span class="sidenav-item"><tvp:icon identifier="actions-clipboard" size="default"/></span>
            <span class="sidenav-item-explaination"><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:clipboardAriaLabel"/></span>
        </li>

        <li>
            <span class="sidenav-item sidenav-item-trash"><tvp:icon identifier="actions-delete" size="default"/></span>
            <span class="sidenav-item-explaination"><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:trashAriaLabel"/></span>
        </li>
        <li>
            <span class="sidenav-item sidenav-item-config"><core:icon identifier="actions-cog-alt" size="default"/></span>
            <span class="sidenav-item-explaination"><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:configAriaLabel"/></span>
        </li>
    </ul>
    <h2>
        <f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.editing.heading"/>
    </h2>
    <p>
        <f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.editing.introduction"/>
    </p>
</div>
