<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" xmlns:tvp="Tvp\TemplaVoilaPlus\ViewHelpers">

<div class="tutorial">
    <p><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.introduction" /></p>
    <h2><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.sidebar.heading" /></h2>
    <p><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.sidebar.introduction" /></p>
    <ul class="nav-explained">
        <li>
            <span class="sidenav-item">
        <f:if condition="{settings.configuration.is10orNewer}">
            <f:then>
                <core:icon identifier="actions-document-add" size="default"/>
            </f:then>
            <f:else>
                <core:icon identifier="actions-document-new" size="default"/>
            </f:else>
        </f:if></span>
            <f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:newCeWizardAriaLabel" />
        </li>
        <li>
            <span class="sidenav-item">
        <f:if condition="{settings.configuration.is10orNewer}">
            <f:then>
                <core:icon identifier="actions-clipboard" size="default"/>
            </f:then>
            <f:else>
                <core:icon identifier="actions-edit-copy" size="default"/>
            </f:else>
        </f:if>
                </span>
            <f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:clipboardAriaLabel" />
        </li>

        <li>
            <span class="sidenav-item sidenav-item-trash">
           <core:icon identifier="actions-delete" size="default"/>
            </span>
            <f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:trashAriaLabel" />
        </li>
        <li>
            <span class="sidenav-item sidenav-item-config">
            <f:if condition="{settings.configuration.is10orNewer}">
                <f:then>
                    <core:icon identifier="actions-cog-alt" size="default"/>
                </f:then>
                <f:else>
                    <core:icon identifier="actions-system-extension-configure" size="default"/>
                </f:else>
            </f:if>
            </span>
            <f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:configAriaLabel" />
        </li>
    </ul>
    <h2><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.editing.heading" /></h2>
    <p><f:translate key="LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:tutorial.editing.introduction" /></p>
</div>
