<f:debug>{doktypeDefault.treeData}</f:debug>
<f:debug>{_all}</f:debug>

<div class="t3-page-ce tv-doktypeDefault-page">
    <div class="t3-page-ce-header">
        <div class="t3-page-ce-header-icons-left">
            <f:format.raw>{doktypeDefault.treeData.tree.el.iconTag}</f:format.raw> Test
        </div>
        <div class="t3-page-ce-header-icons-right">
        </div>
    </div>
    <div class="t3-page-ce-body">
        <div class="t3-page-ce-body-inner">
            <div>
                <div class="t3js-page-new-ce t3-page-ce-wrapper-new-ce" id="colpos-1-page-1-5c0ba71a164f1666631330">
                    <div class="btn-group btn-group-sm" role="group">
                        <a href="#" data-url="/typo3/typo3/index.php?route=%2Frecord%2Fcontent%2Fwizard%2Fnew&amp;token=b708f13bf18f1de0b6e4f39bf94c436a8e6eb3e1&amp;id=1&amp;sys_language_uid=0&amp;colPos=1&amp;uid_pid=-2&amp;returnUrl=%2Ftypo3%2Ftypo3%2Findex.php%3Froute%3D%252Fweb%252Flayout%252F%26token%3D87f3e2fc69e6ad01a647ce60d3263c5e73ae5e5d%26id%3D1%26" title="Create new content element" data-title="Create new content element" class="btn btn-default btn-sm t3js-toggle-new-content-element-wizard">
                            <core:icon identifier="actions-add" />Content
                        </a>
                    </div>
                </div>
                <div class="t3-page-ce-dropzone-available t3js-page-ce-dropzone-available ui-droppable"></div>
            </div>
        </div>
    </div>
</div>
