<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" xmlns:tvp="Tvp\TemplaVoilaPlus\ViewHelpers">

<f:if condition="{settings.configuration.is11orNewer}">
    <f:then>
        <f:be.pageRenderer
            pageTitle="TemplaVoilà! Plus"
            includeCssFiles="{0: '{f:uri.resource(path: \'StyleSheet/Tooltipster.css\', extensionName: \'templavoilaplus\')}', 1: '{f:uri.resource(path: \'StyleSheet/PageLayout.css\', extensionName: \'templavoilaplus\')}'}"
            includeRequireJsModules="{
        PageLayout: 'TYPO3/CMS/Templavoilaplus/PageLayout',
        Modal:'TYPO3/CMS/Backend/Modal',
        Notification:'TYPO3/CMS/Backend/Notification',
        ContextMenu:'TYPO3/CMS/Backend/ContextMenu',
        Tooltip: 'TYPO3/CMS/Backend/Tooltip'
    }"
        />
    </f:then>
    <f:else>
        <f:be.pageRenderer
            pageTitle="TemplaVoilà! Plus"
            includeCssFiles="{
            0: '{f:uri.resource(path: \'StyleSheet/pre11LTScompat/bootstrap337-badge.css\', extensionName: \'templavoilaplus\')}',
            1: '{f:uri.resource(path: \'StyleSheet/pre11LTScompat/bootstrap337-button.css\', extensionName: \'templavoilaplus\')}',
            2: '{f:uri.resource(path: \'StyleSheet/pre11LTScompat/bootstrap337-card.css\', extensionName: \'templavoilaplus\')}',
            3: '{f:uri.resource(path: \'StyleSheet/pre11LTScompat/bootstrap337-caret.css\', extensionName: \'templavoilaplus\')}',
            4: '{f:uri.resource(path: \'StyleSheet/pre11LTScompat/overrides.css\', extensionName: \'templavoilaplus\')}',
            5: '{f:uri.resource(path: \'StyleSheet/Tooltipster.css\', extensionName: \'templavoilaplus\')}',
            6: '{f:uri.resource(path: \'StyleSheet/PageLayout.css\', extensionName: \'templavoilaplus\')}'
            }"
            includeRequireJsModules="{
        PageLayout: 'TYPO3/CMS/Templavoilaplus/PageLayout',
        Modal:'TYPO3/CMS/Backend/Modal',
        Notification:'TYPO3/CMS/Backend/Notification',
        ContextMenu:'TYPO3/CMS/Backend/ContextMenu',
        Tooltip: 'TYPO3/CMS/Backend/Tooltip'
    }"
        />
    </f:else>
</f:if>

    <div id="moduleLoadingIndicator" data-identifier="moduleLoadingIndicator" class="tvp-loading-spinner">
        <core:icon identifier="spinner-circle-dark" size="default" />
        <div class="tvp-loading-spinner-label"><f:translate key="LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.loading" /></div>
    </div>
    <div id="moduleShadowing"></div>

    <f:render section="FlashMessage" arguments="{_all}" />

    <div id="moduleWrapper" data-identifier="moduleWrapper" class="hidden" data-tvp-page-id="{pageId}" data-tvp-page-edit-rights="{basicEditRights}" data-tvp-page-dok-type="{pageDoktype}" data-tvp-usersettings="{settings.configuration.userSettings -> f:format.json()}">

        <section id="tvp-component-sidebar-left" class="tvp-component-sidebar" data-identifier="tvpComponentSidebarLeft">
            <f:render section="SidebarContentTree" />
        </section>
        <section id="tvp-component-stage-container" data-identifier="tvpComponentStageContainer">
            <div id="tvp-component-stage-container-inner" data-identifier="tvpComponentStageContainerInner">
                <header id="tvp-component-stage-header">
                    <f:render section="Header" arguments="{_all}" />
                </header>
                <div id="tvp-component-stage-content">
                    <f:render section="Stage" arguments="{_all}" />
                </div>
            </div>
        </section>
        <section id="tvp-component-sidebar-right" class="tvp-component-sidebar" data-identifier="tvpComponentSidebarLeft">
            <f:render section="SidebarContentManipulation" arguments="{_all}" />
        </section>

    </div>
<f:section name="FlashMessage">
    <f:for each="{pageMessages}" as="message">
        <f:be.infobox title="{message.title}" state="{message.severity}" disableIcon="false" >
            {message.message}
            <f:if condition="{message.buttons}">
                <br/>
                <div class="btn-group mt-3">
                    <f:for each="{message.buttons}" as="button">
                        <f:if condition="{button.label}">
                            <f:variable name="buttonstate">secondary</f:variable>
                            <f:switch expression="{message.severity}">
                                <f:case value="-2"><f:variable name="buttonstate">light</f:variable></f:case>
                                <f:case value="-1"><f:variable name="buttonstate">primary</f:variable></f:case>
                                <f:case value="0"><f:variable name="buttonstate">success</f:variable></f:case>
                                <f:case value="1"><f:variable name="buttonstate">warning</f:variable></f:case>
                                <f:case value="2"><f:variable name="buttonstate">danger</f:variable></f:case>
                                <f:defaultCase></f:defaultCase>
                            </f:switch>
                            <a class="btn btn-{buttonstate}" href="{button.url}">
                                <f:if condition="{button.icon}">
                                    <core:icon identifier="{button.icon}" />
                                </f:if>
                                {button.label}
                            </a>
                        </f:if>
                    </f:for>
                </div>
            </f:if>
        </f:be.infobox>
    </f:for>
</f:section>

<f:section name="Header">
    <f:if condition="{node}">
        <f:format.raw>{contentHeader}</f:format.raw>
        <f:render partial="Backend/Handler/DoktypeDefaultHandler/Page/TitleBar" arguments="{node: node}" />
        <f:if condition="{pageDescription}">
            <f:be.infobox title=""><f:format.nl2br>{pageDescription}</f:format.nl2br></f:be.infobox>
        </f:if>

        <f:render partial="Backend/Handler/DoktypeDefaultHandler/Page/Localizations" arguments="{node: node, settings: settings}" />
    </f:if>
</f:section>

<f:section name="SidebarContentTree">

    <div class="inner">
        <div id="tvpContentTree" class="contentTree" data-identifier="tvpContentTree"></div>
    </div>

</f:section>

<f:section name="Stage">

    <f:format.raw>{contentBody}</f:format.raw>

    <f:for each="{contentPartials.body}" as="partialName">
        <f:render partial="{partialName}" arguments="{_all}" />
    </f:for>

    <f:format.raw>{contentFooter}</f:format.raw>
</f:section>

<f:section name="SidebarContentManipulation">
    <div class="inner">
        <div id="tvpContentIntegrator" data-identifier="tvpContentIntegrator">
            <nav id="sidenav">
                <ul class="sidenav-menu">
                    <li class="sidenav-item disabled" id="navbarContentElementWizard" draggable="false"
                        {tvp:toolTipAttributes(text:'{f:translate(key:\'LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:newCeWizardAriaLabel\')}',placement:'left')} >
                        <div>
                            <f:if condition="{settings.configuration.is10orNewer}">
                                <f:then>
                                    <core:icon identifier="actions-document-add" size="default" />
                                </f:then>
                                <f:else>
                                    <core:icon identifier="actions-document-new" size="default" />
                                </f:else>
                            </f:if>
                        </div>
                    </li>
                    <f:if condition="{settings.configuration.localizationPossible} && false">
                        <li class="sidenav-item disabled" id="navbarLanguages">
                            <div>
                                <core:icon identifier="flags-multiple" size="default" />
                            </div>
                        </li>
                    </f:if>
                    <li class="sidenav-item {f:if(condition:'!{clipboard.tt_content.count}', then: 'disabled')} " id="navbarClipboard" draggable="false" data-clipboard-count="{clipboard.tt_content.count}"
                        {tvp:toolTipAttributes(text:'{f:translate(key:\'LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:clipboardAriaLabel\')}',placement:'left')} >
                        <div>
                            <f:if condition="{settings.configuration.is10orNewer}">
                                <f:then>
                                    <core:icon identifier="actions-clipboard" size="default" />
                                </f:then>
                                <f:else>
                                    <core:icon identifier="actions-edit-copy" size="default" />
                                </f:else>
                            </f:if>
                            <span class="position-absolute translate-middle badge rounded-pill bg-success">{clipboard.tt_content.count}</span>
                        </div>
                    </li>
                    <li class="sidenav-item {f:if(condition:'!{unused.tt_content.count}', then: 'disabled')} sidenav-item-trash"  draggable="false" id="navbarTrash" data-unused-count="{unused.tt_content.count}"
                        {tvp:toolTipAttributes(text:'{f:translate(key:\'LLL:EXT:templavoilaplus/Resources/Private/Language/Backend/PageLayout.xlf:trashAriaLabel\')}',placement:'left')} >
                        <div>
                            <core:icon identifier="actions-delete" size="default" /><span class="position-absolute translate-middle badge rounded-pill bg-danger">{unused.tt_content.count}</span>
                        </div>
                    </li>
                    <li class="sidenav-item sidenav-item-config" id="navbarConfig" data-tooltip-content="#navbarConfigTooltip">
                        <div>
                            <f:if condition="{settings.configuration.is10orNewer}">
                                <f:then>
                                    <core:icon identifier="actions-cog-alt" size="default" />
                                </f:then>
                                <f:else>
                                    <core:icon identifier="actions-system-extension-configure" size="default" />
                                </f:else>
                            </f:if>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="tvp-tooltip-templates">
            <div id="navbarConfigTooltip">
                <div class="form-check checkbox-type-toggle">
                    <input type="checkbox" class="form-check-input" value="1" id="dark-mode-switch" {f:if(condition: '{settings.configuration.userSettings.enableDarkMode}', then: 'checked')}>
                    <label class="form-check-label" for="dark-mode-switch">
                        <span class="checkbox-label-text">&nbsp; Dark Mode</span>
                    </label>
                </div>
            </div>
        </div>
        <div id="tvpContentInspector" data-identifier="tvpContentInspector"></div>
    </div>

</f:section>
