{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:be.pageRenderer
    pageTitle="TemplaVoilà! Plus"
    includeCssFiles="{0: '{f:uri.resource(path: \'StyleSheet/ControlCenter.css\', extensionName: \'templavoilaplus\')}'}"
    includeRequireJsModules="{PageLayout: 'TYPO3/CMS/Templavoilaplus/ControlCenter', Modal:'TYPO3/CMS/Backend/Modal'}"
    includeJsFiles="{0: '{f:uri.resource(path: \'JavaScript/templavoila.js\', extensionName: \'templavoilaplus\')}'}"
/>

<h1>{pageTitle}</h1>

<f:render section="content" arguments="{_all}" />

<f:section name="content">
    <div class="row">
        Path: {templatePlace.pathRelative}<br />
        Configuration File: {templateConfiguration.identifier}<br />
        Template File: {templateConfiguration.templateFile.identifier}<br />
        Label: {templateConfiguration.label}<br />
        Handler Name: {templatePlace.handlerName}<br />
        <b>Mapping</b>
        <ul>
            <f:for each="{templateConfiguration.mapping}" as="value" key="key">
                <f:if condition="{key} == 'container'">
                    <f:then>
                        <li>{key}
                            <ul>
                                <f:for each="{value}" as="fieldConfig" key="fieldName">
                                    <li><b>{fieldName}</b>
                                        <ul>
                                            <f:for each="{fieldConfig}" as="fieldConfigValue" key="fieldConfigKey">
                                                <li>{fieldConfigKey} => {fieldConfigValue}</li>
                                            </f:for>
                                        </ul>
                                    </li>
                                </f:for>
                            </ul>
                        </li>
                    </f:then>
                    <f:else>
                        <li>{key} => {value}</li>
                    </f:else>
                </f:if>
            </f:for>
        </ul>
    </div>
</f:section>
