{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:be.pageRenderer
    pageTitle="TemplaVoilà! Plus"
    includeCssFiles="{0: '{f:uri.resource(path: \'StyleSheet/ControlCenter.css\', extensionName: \'templavoilaplus\')}'}"
    includeRequireJsModules="{PageLayout: 'TYPO3/CMS/Templavoilaplus/ControlCenter', Modal:'TYPO3/CMS/Backend/Modal'}"
    includeJsFiles="{0: '{f:uri.resource(path: \'JavaScript/templavoila.js\', extensionName: \'templavoilaplus\')}'}"
/>

<h1>{pageTitle}</h1>

<f:render section="content" arguments="{_all}" />

<f:section name="content">
    <f:for each="{templatePlaces}" as="templatePlace">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="panel-title">{templatePlace.name}</h3></div>
                    <f:if condition="{templatePlace.files -> f:count()} > 0">
                        <f:then>
                            <table class="table table-striped table-hover">
                                <f:for each="{templatePlace.files}" as="file">
                                    <tr><td>{file.name}</td></tr>
                                </f:for>
                            </table>
                        </f:then>
                        <f:else>
                            <div class="panel-body">
                                No templates found
                            </div>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </f:for>
</f:section>
