dl.DS-infos dt,
dl.TO-infos dt {
	font-weight: bold;
	margin-bottom: 0.25em;
}

dl.DS-infos dd,
dl.TO-infos dd {
	margin-bottom: 0.5em;
}

dl.DS-config,
dl.DS-config dl,
ul.DS-tree,
ul.DS-tree ul {
	margin: 0;
	padding: 0px;
}

ul.DS-tree ul {
	padding-left: 18px;
}

ul.DS-tree li {
	border: 0;
	padding: 0;
	list-style-position: inside;
	list-style-image: url('../Image/join.gif');
	background: 0 0 url('../Image/line.gif') repeat-y transparent;
}

ul.DS-tree li.last-child {
    list-style-image: url('../Image/joinbottom.gif');
	background: none;
}

ul.DS-tree a {
	position: relative;
	left: -2px;
	top: -4px;
}

ul.DS-tree a.active {
	font-weight: bold;
	text-decoration: none;
}

dl.DS-config {
	margin-bottom: 1em;
}

dl.DS-config dt {
	font-weight: bold;
	margin-bottom: 0.25em;
	clear: both;
}

dl.DS-config dd {
	margin-bottom: 0.5em;
}

dl.DS-config textarea.xml,
dl.DS-config textarea.code,
dl.DS-config textarea.ts {
	font-family: monospace;
	font-size: 1.2em;
}

dl.DS-config .t3e_linenum dt {
	margin: 0;
}

optgroup,
optgroup option {
	background-color: white;
	border-bottom: medium none;
	color: black;
	font-style: normal;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	text-transform: none;
}

optgroup.c-divider {
	background-color: #EEE;
	border-top: 1px solid #666;
	color: #666;
	font-style: italic;
	margin-top: 10px;
	padding: 0px;
	text-transform: uppercase;
}

tr.tv-edit-row {
	background-color: #F4F4EF;
	padding: 15px 0;
}

tr.tv-edit-row input#_updateDS {
	background: none !important;
	border: 0 !important;
}

tr.tv-edit-row div.tv-ts-tree {
	/* like input[type=text] */
	border: 1px solid black;
	padding: 1px;
	background: white;
}

tr.tv-edit-row td.edit-ds-actioncontrols {
	vertical-align: bottom;
	padding: 0.5em 1em 1em;
}

#templavoila-frame-visual {
    height:500px;
    display:block;
    margin:0 5px;
    width:98%;
    border: 1xpx solid black;
}

TABLE#c-mapInfo {margin-top: 10px; margin-bottom: 5px; }
TABLE#c-mapInfo TR TD {padding-right: 20px;}
#c-toMenu { margin-bottom:10px; }

select option.pagetemplate {
    background-image:url('../Icon/icon_pagetemplate.gif');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    padding: 1px 0 3px 24px;
}
select option.fce {
    background-image:url('../Icon/icon_fce_ce.png');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    padding: 1px 0 3px 24px;
}

/* NEW */

.dsType_Icon {
    background: #FFF;
    border: 3px solid;
    width: 30px;
    display: inline-block;
    text-align: center;
    margin: 1px 5px 1px 1px;
    line-height: 14px;
}

.dsType_sc {
    border-color: red;
    color: red;
}

.dsType_co {
    border-color: red;
    color: red;
}

.dsType_el {
    border-color: blue;
    color: blue;
}

.dsType_at {
    border-color: green;
    color: green;
}

.dsType_no {
    border-color: gray;
    color: gray;
}
