.gnyfBox {
    position:relative;
}

.gnyfElement {
    color: black;
    font-family:monospace;
    font-size:12px !important;
    line-height:1.3em !important;
    font-weight:normal;
    text-transform:none;
    letter-spacing:auto;
    cursor: pointer;
    margin: 0;
    padding:0 7px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    border-radius: 0.4em;
    background-color: #ffffff;
}

.dso_table .gnyfElement {
    position: relative;
}

span.gnyfElement:hover {
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 4px 2px;
}

a > span.gnyfElement, td > span.gnyfElement {
    position:relative;
}

a > .gnyfElement:hover, td > .gnyfElement:hover  {
    box-shadow: none;
}

.gnyfRoot { background-color:#9bff9b; }
.gnyfDocument { background-color:#788cff; }
.gnyfText { background-color:#ffff64; }
.gnyfGrouping { background-color:#ff9650; }
.gnyfForm { background-color:#64ff64; }
.gnyfSections { background-color:#a0afff; }
.gnyfInterative { background-color:#0096ff; }
.gnyfTable { background-color:#ff9664; }
.gnyfEmbedding { background-color:#ff96ff; }
.gnyfInteractive { background-color: #d3d3d3; }
