div#typo3-docbody {
  padding: 0;
}

.tpm-editPageScreen div#typo3-inner-docbody {
  display: table;
  width: 100%;
  padding: 0;
}

.typo3-templavoila-pagemodule > #typo3-docheader > .typo3-docheader-functions {
  padding-top: 5px;
}
.typo3-templavoila-pagemodule > #typo3-docbody {
  top: 27px;
}
.typo3-templavoila-pagemodule > #typo3-docbody > .typo3-docheader-buttons {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
.typo3-templavoila-pagemodule > #typo3-docbody > .typo3-docheader-buttons > .docheader-buttons-inner {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}
.typo3-templavoila-pagemodule #typo3-docbody #tx_templavoila_mod1_sidebar-bar .typo3-dyntabmenu-tabs table.typo3-dyntabmenu td a, .typo3-templavoila-pagemodule #typo3-docbody #tx_templavoila_mod1_sidebar-bar .typo3-dyntabmenu-tabs table.typo3-dyntabmenu td.disabled, .typo3-templavoila-pagemodule #typo3-docbody #tx_templavoila_mod1_sidebar-bar .typo3-dyntabmenu-tabs table.typo3-dyntabmenu td.disabled_over {
  padding-top: 3px;
  padding-bottom: 1px;
}

.pagecontainer {
  display: table-cell;
  padding: 7px;
}

table {
  position: relative;
}

.sortableItem .sortable_handle {
  cursor: move;
}

div.warning {
  background-color: #ddeef9;
  border-color: #8aafc4;
  border: 1px solid;
  margin: 4px 0;
  padding: 6px;
  font-weight: bold;
  font-size: 11px;
}
div.warning img {
  vertical-align: middle;
  padding: 2px 1px;
}
div.warning a {
  text-decoration: underline;
}

.tpm-bottom-controls {
  display: block;
}
.tpm-bottom-controls img {
  border: none;
  text-align: center;
  vertical-align: middle;
  padding: 0 1px;
}

.tpm-title-cell {
  vertical-align: top;
  padding-top: 0;
  padding-bottom: 0;
}

.tpm-content-cell {
  vertical-align: top;
  padding: 5px;
  border-left: 3px solid #5f5f5f;
  min-width: 120px;
}

.tpm-subelement-table {
  border-bottom: 0px;
  font-size: 10px;
  margin: 4px;
}

.tpm-subelement-table .tpm-title-cell {
  background: none;
}

.tpm-sub-elements {
  border-color: #cacaca;
  border-right: 1px solid #cacaca;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  font-size: 10px;
}

.tpm-container-element-depth-odd {
  background: #eaeaea;
}

.tpm-container-element-depth-even {
  background: #f7f7f7;
}

.active > .tpm-container-element {
  color: black;
  background-color: white;
}
.active > .tpm-container-element > a {
  color: black;
}

/* @todo find a proper "color" for referenced icons */
.tpm-container-element {
  color: #5f5f5f;
  width: 100%;
  margin-bottom: 5px;
}
.tpm-container-element a {
  color: #5f5f5f;
}
.tpm-container-element .tpm-titlebar-fromOtherPage .t3-row-header {
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(center top, #888888 10%, #5f5f5f 100%);
}

.tpm-element-control {
  text-align: right;
  vertical-align: top;
}

.tpm-titlebar {
  overflow: hidden;
}

.tpm-element-title {
  min-width: 100px;
  margin-right: 140px;
  vertical-align: top;
  padding: 4px 1px 1px 1px;
  line-height: 15px;
}
.tpm-element-title a {
  float: left;
}
.tpm-element-title .tpm-langIcon {
  float: left;
  padding-right: 5px;
  padding-top: 3px;
}

.tpm-preview ul {
  padding: 0 0 0 20px;
  margin: 0;
}

.tpm-preview, .tpm-warnings {
  padding: 5px;
}

.t3-page-ce {
  margin-bottom: 0;
}

.tpm-element {
  padding: 5px 5px 5px 0;
}

.tpm-nonused-elements td:first-child {
  padding: 3px;
}

.tpm-nonused-element td {
  padding: 2px 3px;
  vertical-align: middle;
}
.tpm-nonused-element:nth-child(odd) {
  background: #FFF;
}

.tpm-nonused-controls {
  width: 40px;
  padding-left: 4px;
}

.tpm-nonused-ref {
  width: 20px;
  white-space: nowrap;
}

.tpm-nonused-element img, .tpm-nonused-deleteall img {
  vertical-align: middle;
  padding: 2px 1px;
}

.tpm-nonused-element .tpm-nonused-preview img {
  padding-right: 3px;
}

.tpm-nonused-deleteall {
  padding: 5px 0;
}

.t3-row-header .tpm-element-title {
  padding: 1px;
  line-height: 15px;
}
.t3-row-header .tpm-element-control {
  float: right;
  min-width: 120px;
  height: 20px;
  padding-right: 4px;
  margin-top: 2px;
}

.t3-row-header {
  color: #fff;
}

.t3-page-ce {
  margin-bottom: 0;
}
.t3-page-ce.inactive .t3-row-header, .t3-page-ce.active .t3-row-header {
  visibility: visible;
}
.t3-page-ce.inactive > .tpm-container-element > .tpm-titlebar > .t3-row-header {
  background: none;
  color: black;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.t3-page-ce.inactive > .tpm-container-element > .tpm-titlebar > .t3-row-header > .tpm-element-control {
  visibility: hidden;
}
.t3-page-ce.inactive > .tpm-container-element.tpm-hidden > .tpm-titlebar > .t3-row-header {
  color: #888888;
}

.inactive .tpm-hidden .tpm-sub-elements {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.tpm-localisation-info-table tr.bgColor4 {
  color: inherit;
}

.tpm-outline-table .tpm-container img, .tpm-outline-table .tpm-element img, .tpm-outline-table .tpm-elementRef img {
  vertical-align: middle;
  padding: 0 1px;
}
.tpm-outline-table .tpm-container .nobr img, .tpm-outline-table .tpm-element .nobr img, .tpm-outline-table .tpm-elementRef .nobr img {
  padding-right: 3px;
}
.tpm-outline-table .tpm-outline-level0 {
  background-color: #B8BEC9;
}
.tpm-outline-table .tpm-outline-level1 {
  background-color: #F8F9FB;
}

#typo3-docbody > .typo3-message {
  margin: 5px 8px;
}
