div#typo3-docbody {
  padding: 0;
}

.tpm-editPageScreen div#typo3-inner-docbody {
  display: table;
  width: 100%;
  padding: 0;
}

.typo3-templavoila-pagemodule > #typo3-docheader > .typo3-docheader-functions {
  padding-top: 5px;
}
.typo3-templavoila-pagemodule > #typo3-docbody {
  top: 27px;
}
.typo3-templavoila-pagemodule > #typo3-docbody > .typo3-docheader-buttons {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
.typo3-templavoila-pagemodule > #typo3-docbody > .typo3-docheader-buttons > .docheader-buttons-inner {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}
.typo3-templavoila-pagemodule #typo3-docbody #tx_templavoilaplus_mod1_sidebar-bar .typo3-dyntabmenu-tabs table.typo3-dyntabmenu td a,
.typo3-templavoila-pagemodule #typo3-docbody #tx_templavoilaplus_mod1_sidebar-bar .typo3-dyntabmenu-tabs table.typo3-dyntabmenu td.disabled,
.typo3-templavoila-pagemodule #typo3-docbody #tx_templavoilaplus_mod1_sidebar-bar .typo3-dyntabmenu-tabs table.typo3-dyntabmenu td.disabled_over {
  padding-top: 3px;
  padding-bottom: 1px;
}

table {
  position: relative;
}

.sortableItem .sortable_handle {
  cursor: move;
}

div.warning {
  background-color: #DDEEF9;
  border-color: #8AAFC4;
  border: 1px solid;
  margin: 4px 0;
  padding: 6px;
  font-weight: bold;
}

div.warning img {
  vertical-align: middle;
  padding: 2px 1px;
}

div.warning a {
  text-decoration: underline;
}

.tpm-bottom-controls {
  display: block;
}

.tpm-bottom-controls img {
  border: none;
  text-align: center;
  vertical-align: middle;
}

.tpm-title-cell {
  padding: 0 .8em;
  padding-top: .25em;
}

.tpm-content-cell {
  padding: 0 .8em;
  min-width: 120px;
}

.tpm-title-cell, .tpm-content-cell {
  vertical-align: top;
  border-left: 3px solid #5F5F5F;
}

.tpm-title-cell:first-child, .tpm-content-cell:first-child {
  border-left: none;
}

.tpm-subelement-table {
  border-bottom: 0px;
  margin: 0;
}

.tpm-subelement-table .tpm-title-cell {
  background: none;
}

.tpm-sub-elements {
  border-width: 0 1px 1px 1px;
  border-color: #CACACA;
  border-style: solid;
  border-collapse: collapse;
}

.tpm-sub-elements th, .tpm-sub-elements td {
  vertical-align: top;
}

.tpm-container-element-depth-odd {
  background: #FAFAFA;
}

.tpm-container-element-depth-even {
  background: transparent;
}

.active > .tpm-container-element {
  color: #000000;
  background-color: #FFFFFF;
}
.active > .tpm-container-element > a {
  color: #000000;
}

/* @todo find a proper "color" for referenced icons */
.tpm-container-element {
  color: #5F5F5F;
  width: 100%;
  margin-bottom: 5px;
}

.tpm-container-element a {
  color: #5F5F5F;
}

.tpm-container-element .tpm-titlebar-fromOtherPage .t3-row-header {
  color: #000000;
  background-color: #EAEAEA;
}

.tpm-element-control {
  vertical-align: top;
}

.tpm-titlebar {
  overflow: hidden;
}

.tpm-element-title {
  min-width: 100px;
  padding: 0 .08333em 0 .41666em;
}

.tpm-element-title .tpm-langIcon,
.tpm-element-title .tpm-buttonsLeft {
  padding-right: .41666em;
  vertical-align: top;
}

.tpm-element-title .t3-js-clickmenutrigger {
  margin-right: .41666em;
}

.tpm-preview ul {
  padding: 0 0 0 20px;
  margin: 0;
}

.tpm-preview, .tpm-warnings {
  padding: 5px;
}

.t3-page-ce {
  margin: 0;
}

.tpm-element {
  padding: 0;
  padding-top: 0.8em;
  padding-bottom: 0.4em;
}

.tpm-element.t3-page-ce {
  margin: 0;
}

.tpm-nonused-elements td:first-child {
  padding: 3px;
}

.tpm-nonused-element td {
  padding: 2px 3px;
  vertical-align: middle;
}

.tpm-nonused-element:nth-child(odd) {
  background: #FFF;
}

.t3-row-header {
  color: #FFF;
  position: relative;
}

.t3-row-header .tpm-element-title {
  line-height: 1em;
}

.t3-row-header .tpm-element-title .nobr {
  display: inline-block;
  vertical-align:top;
  min-height:1.5em;
  line-height: 1.5em;
  width: auto;
  overflow-x: hidden;
}

.t3-row-header .tpm-element-control {
  position: absolute;
  top: .2em;
  right: .2em;
  min-width: 120px;
}

.t3-page-ce.inactive .t3-row-header, .t3-page-ce.active .t3-row-header {
  visibility: visible;
}

.t3-page-ce.inactive > .tpm-container-element > .tpm-titlebar > .t3-row-header {
  background: none;
  color: #000000;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.t3-page-ce.inactive > .tpm-container-element > .tpm-titlebar > .t3-row-header > .tpm-element-control {
  visibility: hidden;
}

.t3-page-ce.inactive > .tpm-container-element.tpm-hidden > .tpm-titlebar > .t3-row-header {
  color: #888888;
}

.inactive .tpm-hidden .tpm-sub-elements {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.tpm-localisation-info-table th, .tpm-localisation-info-table td {
  padding: 5px;
}
.tpm-localisation-info-table tr.bgColor4 {
  color: inherit;
}
.tpm-localisation-info-table tr.tpm-language-row {
  background-color: #f1f1f1;
  color: #212424;
}
.tpm-localisation-info-table tr.tpm-language-row:nth-child(even) {
  background-color: #f9f9f9;
}
.tpm-localisation-info-table tr .tpm-language-edit, .tpm-localisation-info-table tr .tpm-language-info {
  vertical-align: top;
}
.tpm-localisation-info-table tr .tpm-language-edit {
  width: 1%;
}
.tpm-localisation-info-table tr .tpm-language-info {
  width: 99%;
}
.tpm-localisation-info-table tr .tpm-language-info .t3js-icon {
  margin-right: 4px;
}

.tpm-outline-table .tpm-container img, .tpm-outline-table .tpm-element img, .tpm-outline-table .tpm-elementRef img {
  vertical-align: middle;
  padding: 0 1px;
}
.tpm-outline-table .tpm-container .nobr img, .tpm-outline-table .tpm-element .nobr img, .tpm-outline-table .tpm-elementRef .nobr img {
  padding-right: 3px;
}
.tpm-outline-table .tpm-outline-level0 {
  background-color: #B8BEC9;
}
.tpm-outline-table .tpm-outline-level1 {
  background-color: #F8F9FB;
}

#typo3-docbody > .typo3-message {
  margin: 5px 8px;
}

.drag-placeholder {
  background-color: #8AAFC4;
}
