div#typo3-docbody {
    padding: 0;
}

#tx_templavoilaplus_mod1_sidebar-bar .panel-body {
    max-height: 60vh;
    overflow-y: auto;
}

table {
    position: relative;
}

.sortableItem .sortable_handle {
    cursor: move;
}

div.warning {
    background-color: #ddeef9;
    border-color: #8aafc4;
    border: 1px solid;
    margin: 4px 0;
    padding: 6px;
    font-weight: bold;
}

div.warning img {
    vertical-align: middle;
    padding: 2px 1px;
}

div.warning a {
    text-decoration: underline;
}

div.tvp-node.card .card-header {
    padding: 0;
}

div.tvjs-dropzone {
    min-height: 40px;
}

.tvp-childs-table .col.t3-grid-cell {
    padding: 0;
}

.tvp-record-edit:empty + .row.tvp-childs-table {
    margin-top: -12px;
}

.row.tvp-childs-table > .col {
    padding-bottom: 10px;
}

.row.tvp-childs-table > .col > .t3-page-column-header {
    padding: 10px 10px 5px;
}

#typo3-docbody > .typo3-message {
    margin: 5px 8px;
}

.drag-placeholder {
    background-color: #8aafc4;
    height: 10px;
}

.toYellow {
    animation: toYellow 0.5s linear forwards;
}

.flashGreen {
    animation: flashGreen 1s linear;
}

.flashRed {
    animation: flashRed 2s linear;
}

@keyframes toYellow {
    100% {
        background-color: #ffffd0;
    }
}

@keyframes flashGreen {
    0% {
        background-color: #ffffd0;
    }
    50% {
        background-color: #d0ffd0;
    }
}

@keyframes flashRed {
    0% {
        background-color: #ffffd0;
    }
    25% {
        background-color: #ffd0d0;
    }
    50% {
        background-color: #eaeaea;
    }
    75% {
        background-color: #ffd0d0;
    }
}

.module {
    overflow-x: hidden;
}

.module-body {
    height: 100%;
    width: 100%;
}

.module-body > .callout {
    margin-top: 0;
    margin-right: 75px;
}

#moduleShadowing {
    background-color: #000;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
}

#moduleWrapper {
    height: 100%;
}

.tvp-component-sidebar {
    position: absolute;
    top: 35px;
    height: 100%;
    overflow: hidden;
}

#tvp-component-sidebar-left {
    width: 0;
    left: 0;
    box-shadow: 6px 0 20px #333;
}

#tvp-component-sidebar-right {
    width: 90px;
    right: 0;
    border-left: 1px solid #c3c3c3;
    background-color: #eeeeee;
}

#tvp-component-stage-container {
    margin-right: 75px;
    position: relative;
    text-align: center;
}

#tvp-component-stage-container-inner {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.module-docheader-bar-navigation .module-docheader-bar-column-right {
    width: 100%;
    white-space: nowrap;
    text-align: right;
}

.tvp-record-edit {
    cursor: pointer;
}

.tvp-node-header {
    align-items: center;
    background-color: rgb(238, 238, 238) !important;
    flex-wrap: nowrap !important;
    display: flex;
    margin-bottom: 0;
    padding: 6px 12px;
}

.tvp-node-header .icon {
    overflow: initial;
}

#tvp-component-stage-header h1 {
    margin-bottom: 0;
}

#tvp-component-stage-header .tvp-node {
    padding: 0;
}

.tvp-page-header {
    display: flex;
    flex-wrap: nowrap !important;
    background-color: transparent !important;
    padding: 0;
    align-items: top;
}

.tvp-localization-info-pages {
    margin-bottom: 1rem;
    width: fit-content;
    min-width: 300px;
    max-width: 100%;
}


.tvp-localization-info-pages .card {
    margin-bottom: 0.1rem;
}

.tvp-localization-row {
    margin-bottom: 0.5rem;
}

.tvp-localization-info-pages .tvp-node-title {
    padding-right: 0.2rem;
}

.tvp-localization-info-pages .tvp-node-title span {
    padding-right: 1em;
}

.tvp-node .card-body {
    padding: 10px;
}

.tvp-node .tvp-node .card-body {
    opacity: 1;
}

.tvp-node:hover .tvp-node:hover .card-body {
    opacity: 1;
}

.tvp-node {
    max-width: 100%;
}

.tvp-node-header-icons-left,
.tvp-node-header-icons-right {
    white-space: nowrap;
    flex-wrap: nowrap;
}

.tvp-page-header .tvp-node-header-icons-left {
}

.tvp-node-header .tvp-node-header-icons-left,
.tvp-node-header .tvp-node-header-icons-left > a {
    margin-left: 0;
}

.tvp-page-header .tvp-node-header-icons-left .tvp-page-flag {
    margin-left: 0.2em;
}

.tvp-node-title {
    font-size: 0.9375rem;
    white-space: nowrap;
    margin-left: 0.5rem !important;
    margin-right: auto !important;
    overflow: hidden;
    padding-bottom: 4px;
    padding-top: 4px;
    text-overflow: ellipsis;
    flex-grow: 1;
    line-height: 1.2em;
}

.tvp-page-header {
    font-size: 1.6875rem;
    padding-left: 0 !important;
}

.tvp-page-header .tvp-node-title {
    font-size: 1.6875rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-variant: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.tvp-node-description {
    font-size: 0.8rem;
}

.tvp-node-clipboard,
.tvp-node-newce,
.tvp-node-trash {
    min-width: 300px;
    margin-bottom: 10px;
}

.tvp-node-clipboard .tvp-node-header,
.tvp-node-newce .tvp-node-header,
.tvp-node-trash .tvp-node-header {
    padding: 4px 6px;
}

/** @TODO default transition only while switching theme? */
.animationTransition {
    transition: all 0.5s linear 0s;
}

#sidenav {
    padding: 0;
    height: 100%;
    position: absolute;
    top: 70px;
    right: 0;
    transform: translateX(0%);
}

.sidenav-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
}

.sidenav-item {
    color: #198734;
    background-color: #eeeeee;
    border: 1px solid #c3c3c3;
    margin: .4rem 1rem;
    padding: 1rem;
}

.nav-explained {
    padding: 0;
}

.nav-explained li {
    list-style-position: outside;
    list-style-type: none;
}
.nav-explained .sidenav-item {
    display: inline-block;
}
.nav-explained .sidenav-item-explaination {
    display: inline-block;
    width: 80%;
}

.sidenav-item.disabled {
    background-color: #d7d7d7;
}

.sidenav-item.disabled .icon {
    filter: grayscale(0.8) blur(1px);
}

.sidenav-item:hover:not(.disabled) {
    background-color: #d7d7d7;
}

.sidenav-item .badge {
    font-size: 10px;
    font-weight: 400;
}

.sidenav-item-blue {
    color: #0d6efd;
}

.sidenav-item-trash {
    color: #dc3545;
}

.sidenav-item-config {
    color: #ffc107;
}


.tvp-loading-spinner {
    width: 150px;
    margin: 5em auto 0;
    text-align: center;
}

.tvp-tooltip-templates {
    display: none;
}

/** Tooltipster own light mode */

/** Fix issue with trackingTooltip option, it can't see resizing as it gets a max-size */
.tooltipster-sidetip .tooltipster-content {
    max-height: none;
}

.tooltipster-sidetip .tooltipster-content h2 {
    margin-top: 0.5em;
}

.tooltipster-sidetip .tooltipster-box {
    overflow: hidden;
}

.tooltipster-sidetip .tooltipster-box {
    border-radius: 4px;
    border: 1px solid #2d2d2d;
    background: #eee;
}

.tooltipster-sidetip .tooltipster-content {
    color: #333;
}

.tooltipster-sidetip .tooltipster-arrow {
    height: 9px;
    margin-left: -9px;
    width: 18px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
    height: 18px;
    margin-left: 0;
    margin-top: -9px;
    width: 9px;
}

.tooltipster-sidetip .tooltipster-arrow-background {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #eee;
    top: 1px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #eee;
    left: -1px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #eee;
    left: 1px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #eee;
    top: -1px;
}

.tooltipster-sidetip .tooltipster-arrow-border {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #2d2d2d;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #2d2d2d;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #2d2d2d;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #2d2d2d;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -9px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
    left: -9px;
}

.dragHandle {
    cursor: move;
}

.green {
    background-color: #00a000;
}

.red {
    background-color: #a00000;
}

.blue {
    background-color: #98c3ff;
}

/** DARK MODE **/

.dark-mode-on #sidenav {
    background-color: #2d2d2d;
}

.dark-mode-on .sidenav-item {
    background-color: #393939;
    border-color: #2d2d2d;
}

.dark-mode-on .sidenav-item.disabled {
    background-color: #2d2d2d;
}

.dark-mode-on .dark-mode-on .sidenav-item:hover:not(.disabled) {
    background-color: #aaa;
}

/** TYPO3 Module Elements **/
.dark-mode-on .module {
    background-color: #666;
}

.dark-mode-on .module-docheader {
    border: none;
    background-color: #2d2d2d;
    color: #fff;
}

.dark-mode-on .t3-page-column-header,
.dark-mode-on .t3-page-ce .t3-page-ce-header {
    background-color: #393939;
    color: #999;
    border: none;
}

.dark-mode-on .t3-page-ce .t3-page-ce-body {
    background-color: #666;
}

.dark-mode-on .btn-default,
.dark-mode-on .btn-light,
.dark-mode-on .icon-status-dialog-notification {
    background-color: #393939;
    border-color: #999;
    color: #999;
}

.dark-mode-on .card,
.dark-mode-on .panel {
    background-color: #393939;
    border-color: #999;
    color: #999;
}

.dark-mode-on .bg-light {
    background-color: rgba(128, 128, 128, var(--bs-bg-opacity)) !important;
}

.dark-mode-on .nav-tabs,
.dark-mode-on .panel .panel-heading {
    background-color: #808080;
    color: #000;
}

.dark-mode-on .nav-tabs > li > a.nav-link.active,
.dark-mode-on .nav.nav-tabs > li:not(.nav-item) > a.active:not(.nav-link) {
    background-color: #393939;
    color: #ddd;
    border-bottom-color: #393939;
}

.dark-mode-on .bg-info {
    background-color: rgba(35, 40, 90, var(--bs-bg-opacity)) !important;
}

/** Tooltipster own dark mode */
.dark-mode-on .tooltipster-sidetip .tooltipster-box {
    border: 1px solid #999;
    background: #393939;
}

.dark-mode-on .tooltipster-sidetip .tooltipster-content {
    color: #fff;
}

.dark-mode-on .tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #393939;
}

.dark-mode-on .tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #393939;
}

.dark-mode-on .tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #393939;
}

.dark-mode-on .tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #393939;
}

.dark-mode-on .tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #999;
}

.dark-mode-on .tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #999;
}

.dark-mode-on .tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #999;
}

.dark-mode-on .tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #999;
}
