div#typo3-docbody {
    padding: 0;
}

#tx_templavoilaplus_mod1_sidebar-bar .panel-body {
    max-height: 60vh;
    overflow-y: auto;
}

table {
    position: relative;
}

.sortableItem .sortable_handle {
    cursor: move;
}

div.warning {
    background-color: #ddeef9;
    border-color: #8aafc4;
    border: 1px solid;
    margin: 4px 0;
    padding: 6px;
    font-weight: bold;
}

div.warning img {
    vertical-align: middle;
    padding: 2px 1px;
}

div.warning a {
    text-decoration: underline;
}

div.tvp-node.card .card-header {
    padding: 0;
}

div.tvjs-dropzone {
    min-height: 40px;
}

.tvp-childs-table .col.t3-grid-cell {
    padding: 0;
    background-color: var(--pagemodule-grid-cell-bg, #fafafa);
}

.tvp-record-edit:empty + .row.tvp-childs-table {
    margin-top: -12px;
}

.row.tvp-childs-table > .col {
    padding-bottom: 10px;
}

.row.tvp-childs-table > .col > .t3-page-column-header {
    padding: 10px 10px 5px;
}

#typo3-docbody > .typo3-message {
    margin: 5px 8px;
}

.drag-placeholder {
    background-color: #8aafc4;
    height: 10px;
}

.toYellow {
    animation: toYellow 0.5s linear forwards;
}

.flashGreen {
    animation: flashGreen 1s linear;
}

.flashRed {
    animation: flashRed 2s linear;
}

@keyframes toYellow {
    100% {
        background-color: #ffffd0;
    }
}

@keyframes flashGreen {
    0% {
        background-color: #ffffd0;
    }

    50% {
        background-color: #d0ffd0;
    }
}

@keyframes flashRed {
    0% {
        background-color: #ffffd0;
    }

    25% {
        background-color: #ffd0d0;
    }

    50% {
        background-color: #eaeaea;
    }

    75% {
        background-color: #ffd0d0;
    }
}

.module {
    overflow-x: hidden;
}

.module-body {
    height: 100%;
    width: 100%;
}

.module-body > .callout {
    margin-top: 0;
    margin-right: 75px;
}

#moduleShadowing {
    background-color: #000;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
}

#moduleWrapper {
    height: 100%;
}

.tvp-component-sidebar {
    position: fixed;
    top: 35px;
    height: 100%;
}

.tvp-component-sidebar.v13 {
    top: 78px;
}

#tvp-component-sidebar-right {
    width: 90px;
    right: 0;
    border-left: 1px solid var(--module-docheader-border-color);
    background-color: var(--module-docheader-bg);
    padding: 1.5rem 0.5rem;
}

#tvp-component-stage-container {
    margin-right: 75px;
    position: relative;
    text-align: center;
}

#tvp-component-stage-container-inner {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.tvp-record-edit {
    cursor: pointer;
}

.tvp-node-header {
    align-items: center;
    background-color: var(--pagemodule-element-bg, rgb(238, 238, 238));
    border: 1px solid var(--pagemodule-element-border-color);
    flex-wrap: nowrap !important;
    display: flex;
    margin-bottom: 0;
    padding: 6px 12px;
}

.tvp-node-header .icon {
    overflow: initial;
}

#tvp-component-stage-header h1 {
    margin-bottom: 0;
}

#tvp-component-stage-header .tvp-node {
    padding: 0;
}

.tvp-page-header {
    display: flex;
    flex-wrap: nowrap !important;
    background-color: transparent !important;
    padding: 0;
    align-items: top;
}

.tvp-localization-info-pages {
    margin-bottom: 1rem;
    width: fit-content;
    min-width: 300px;
    max-width: 100%;
}

.tvp-localization-info-pages .card {
    margin-bottom: 0.1rem;
}

.tvp-localization-row {
    margin-bottom: 0.5rem;
}

.tvp-localization-info-pages .tvp-node-title {
    padding-right: 0.2rem;
}

.tvp-localization-info-pages .tvp-node-title span {
    padding-right: 1em;
}

.tvp-node .card-body {
    padding: 10px;
}

.tvp-node .tvp-node .card-body {
    opacity: 1;
}

.tvp-node:hover .tvp-node:hover .card-body {
    opacity: 1;
}

.tvp-node {
    max-width: 100%;
}

.tvp-node-header-icons-left,
.tvp-node-header-icons-right {
    white-space: nowrap;
    flex-wrap: nowrap;
}

.tvp-node-header .tvp-node-header-icons-left,
.tvp-node-header .tvp-node-header-icons-left > a {
    margin-left: 0;
}

.tvp-page-header .tvp-node-header-icons-left .tvp-page-flag {
    margin-left: 0.2em;
}

.tvp-node-title {
    font-size: 0.9375rem;
    white-space: nowrap;
    margin-left: 0.5rem !important;
    margin-right: auto !important;
    overflow: hidden;
    padding-bottom: 4px;
    padding-top: 4px;
    text-overflow: ellipsis;
    flex-grow: 1;
    line-height: 1.2em;
}

.tvp-page-header {
    font-size: 1.6875rem;
    padding-left: 0 !important;
}

.tvp-page-header .tvp-node-title {
    font-size: 1.6875rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-variant: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.tvp-node-description {
    font-size: 0.8rem;
}

.tvp-node-clipboard,
.tvp-node-newce,
.tvp-node-trash {
    min-width: 300px;
    margin-bottom: 10px;
}

.tvp-node-clipboard .tvp-node-header,
.tvp-node-newce .tvp-node-header,
.tvp-node-trash .tvp-node-header {
    padding: 4px 6px;
}

/** @TODO default transition only while switching theme? */
.animationTransition {
    transition: all 0.5s linear 0s;
}

#sidenav {
    padding: 0;
    height: 100%;
    position: absolute;
    top: 35px;
    right: 0;
}

.sidenav-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
}

.sidenav-item {
    color: #198734;
    background-color: var(--typo3-state-default-bg);
    border: var(--typo3-input-border-width) solid var(--typo3-state-default-border-color, #bbb);
    border-radius: var(--typo3-input-border-radius);
    margin: 0.4rem 1rem;
    padding: 1rem;
}

.nav-explained {
    padding: 0;
}

.nav-explained li {
    list-style-position: outside;
    list-style-type: none;
}

.nav-explained .sidenav-item {
    display: inline-block;
}

.nav-explained .sidenav-item-explanation {
    display: inline-block;
    width: 80%;
}

.sidenav-item.disabled {
    color: var(--typo3-state-default-disabled-color);
    background-color: var(--typo3-state-default-disabled-bg);
    border-color: var(--typo3-state-default-disabled-border-color, #bbb);
}

.sidenav-item.disabled .icon {
    filter: grayscale(0.8) blur(1px);
}

.sidenav-item:hover:not(.disabled) {
    background-color: var(--typo3-state-default-hover-bg, #cacaca);
    border-color: var(--typo3-state-default-hover-border-color, #bebebe);
}

.sidenav-item .badge {
    font-size: 10px;
    font-weight: 400;
}

.sidenav-item-blue {
    color: #0d6efd;
}

.sidenav-item-trash {
    color: #dc3545;
}

.sidenav-item-config {
    color: #ffc107;
}

.tvp-loading-spinner {
    width: 150px;
    margin: 5em auto 0;
    text-align: center;
}

.tvp-tooltip-templates {
    display: none;
}

.dragHandle {
    cursor: move;
}

.green {
    background-color: #00a000;
}

.red {
    background-color: #a00000;
}

.blue {
    background-color: #98c3ff;
}

.tvpPopover {
    /* v12 */
    --bs-popover-max-width: 50vw;
    /* v13 */
    --typo3-popover-max-width: 50vw;
}
