{namespace core=TYPO3\CMS\Core\ViewHelpers}

<style>
.t3js-module-body h1:first-child {display: none;}
</style>

<div class="callout">
    <h2 class="text-primary">TemplaVoilà! Plus (TV+)</h2>
    <p class="lead text-primary"><b>Welcome to the Update Script collection to get your DataStructures, Mapping- and TemplateConfigurations updated to the latest state for your running TYPO3 and TV+ version.</b></p>
    <p class="lead">Your system runs TYPO3 {typo3Version} and TV+ {tvpVersion}.
        <f:if condition="{is11orNewer}">
            <span class="text-warning">Your TYPO3 Version is very new, it may be, that we do not support it correctly yet.</span>
        </f:if>
        <f:if condition="!{is8orNewer}">
            <span class="text-danger">Your TYPO3 Version is very old, TV+ 8 do not support this version anymore. Please stay at latest TV+ 7 version. Hopefully you are running an ELTS Version of TYPO3.</span>
        </f:if>
        <f:if condition="{is8orNewer} && !{is11orNewer}">
            <span class="text-success">Your TYPO3 Version is supported by TV+ 8.</span>
        </f:if>
    </p>
    <h3 class="text-notice">Information</h3>
    <p class="lead">After upgrading your TYPO3 or your TV+ extension you may need to also run this update scripts so the structure of your data can also be updated to latest requirements. Partially this can be done while you run the TYPO3 Upgrade Wizards but mostly you find them here, as they need multiple steps or TV+ likes to give you multiple ways to update. But, before you run any of the update scripts, we recommand to backup all your data of your TYPO3 instance. The update scipts are tested, but nobody knows if it works with your data and doesn't produce little hobbits which will run on your website afterwards.</p>
    <f:be.infobox title="Warning" state="2">Please backup your data before running any of the update scripts!</f:be.infobox>

    <f:if condition="!{is9orNewer}">
        Hint about ELTS TYPO3 Version and that Site Management isn't supported in "TYPO3 v8 LTS".
    </f:if>
</div>

<h2>Please select an update script</h2>
<form action="#" method="POST">
    <f:if condition="{is8orNewer}">
        <f:be.infobox title="You should run this, to fix the TYPO3 TCA Changes between TYPO3 v7 LTS and v8 LTS" state="-1">
            <button class="btn btn-primary btn-block btn-lg" type="submit" name="update" value="DataStructureV8">
                <core:icon identifier="extensions-scheduler-run-task" /> Update DataStructure from TYPO3 v7 LTS to v8 LTS <small><small>(Version: 0.0.2)</small></small>
            </button>
        </f:be.infobox>
    </f:if>
    <f:be.infobox title="TemplaVoilà! Plus 8 update" state="-1">
        <button class="btn btn-primary btn-block btn-lg" type="submit" name="update" value="TemplaVoilaPlus8">
            <core:icon identifier="extensions-scheduler-run-task" /> Update configuration for TemplaVoilà! Plus 8 <small><small>(Version: 0.0.1)</small></small>
        </button>
    </div>
    </f:be.infobox>
    <f:be.infobox title="Static Data Structure will be the way to go. But it may be need some love/tests yet." state="1">
        <button class="btn btn-warning btn-block btn-lg" type="submit" name="update" value="StaticData">
            <core:icon identifier="extensions-scheduler-run-task" /> Convert to Static Data Structure
        </button>
    </div>
    </f:be.infobox>
</form>
