{namespace core=TYPO3\CMS\Core\ViewHelpers}

<div class="callout">
    <h2 class="text-primary">Update configuration to TemplaVoilà! Plus 8</h2>
    <h2>Step 1</h2>

    <f:if condition="!{allOldDatabaseElementsFound}">
        <f:be.infobox title="Error" state="2">
            <p class="lead">It seams you have deleted database tables and/or fields which are necessary for the Update Script.<br>Process stopped.</p>
        </f:be.infobox>
    </f:if>

    <f:if condition="!{allNewDatabaseElementsFound}">
        <f:be.infobox title="Error" state="2">
            <p class="lead">The new fields on table pages and tt_content do not exists, please run the "Analyze Database Structure" tool and add that fields (but do not remove any tables or fields) and come back afterwards.<br>Process stopped.</p>
        </f:be.infobox>
    </f:if>
    <f:if condition="!{storagePidsAreFine}">
        <f:be.infobox title="Error" state="2">
            <p class="lead">You have some Template Objects inside Workspaces, as this is unusal and hart to determine what you have done, you need to check for yourself what needs to be done, to get this cleaned up. (This may be old data, left behind by an older and broken TemplaVoilà! or TYPO3 version and can be removed from database.)<br>Process stopped.</p>
        </f:be.infobox>
    </f:if>

    <f:if condition="!{allDsToValid}">
        <f:be.infobox title="Error" state="2">
            <p class="lead">You have DataStructures and/or Template Objects which have errors while checking.<br>Process stopped.</p>
            <ul class="list-group">
                <f:for each="{validationErrors}" as="validationError">
                    <li class="list-group-item list-group-item-danger">{validationError}</li>
                </f:for>
            </ul>
        </f:be.infobox>
    </f:if>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">DataStructures</h3></div>
                <div class="panel-body">
                <ul class="list-group">
                    <f:for each="{validatedDs}" as="ds">
                        <f:if condition="{ds.valid}">
                            <f:then><li class="list-group-item list-group-item-success">{ds.title} ({ds.haveTo})</li></f:then>
                            <f:else><li class="list-group-item list-group-item-danger">{ds.title} ({ds.haveTo})</li></f:else>
                        </f:if>
                    </f:for>
                </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Template Object</h3></div>
                <div class="panel-body">
                <ul class="list-group">
                    <f:for each="{validatedToWithDs}" as="to">
                        <f:if condition="{to.valid}">
                            <f:then><li class="list-group-item list-group-item-success">{to.title}</li></f:then>
                            <f:else><li class="list-group-item list-group-item-danger">{to.title}</li></f:else>
                        </f:if>
                        <f:if condition="{to.childTO}">
                            <f:comment>Repeatable? => Partial</f:comment>
                            <li class="list-group-item"><ul class="list-group">
                                <f:for each="{to.childTO}" as="childTo">
                                    <f:if condition="{childTo.valid}">
                                        <f:then><li class="list-group-item-success">{childTo.title} Type: {childTo.rendertype}</li></f:then>
                                        <f:else><li class="list-group-item-danger">{childTo.title} Type: {childTo.rendertype}</li></f:else>
                                    </f:if>
                                </f:for>
                            </ul></li>
                        </f:if>
                    </f:for>
                </ul>
                </div>
            </div>
        </div>
    </div>

    <f:if condition="{allChecksAreFine}">
        <p class="lead">.</p>

        <form action="#" method="POST">
            <input type="hidden" name="update" value="TemplaVoilaPlus8" />
            <f:be.infobox title="" state="-1" disableIcon="true">
                <button class="btn btn-primary btn-block btn-lg" type="submit" name="step" value="2">
                    <core:icon identifier="extensions-scheduler-run-task" /> Continue Update configuration to TemplaVoilà! Plus 8
                </button>
            </f:be.infobox>
        </form>
    </f:if>
</div>
