{namespace core=TYPO3\CMS\Core\ViewHelpers}

<div class="callout">
    <h2 class="text-primary">Update configuration to TemplaVoilà! Plus 8</h2>
    <h2>Step 1 - Check your System</h2>

    <p class="lead">TV+ checks your database and existing configuration for issues, which may hinder TV+ to update your configuration. Also check the output of DataStructures and Temnplate Objects if they are all, does it sound reasonable how often they are used, if not, check your database consistency. Only the green entries, which are listed below, will be migrated, DataStructures and Template Objects wich are marked as deleted inside the TYPO3 database won't be migrated.</p>

    <f:if condition="!{allOldDatabaseElementsFound}">
        <f:be.infobox title="Error" state="2">
            <p class="lead">It seams you have deleted database tables and/or fields which are necessary for the Update Script.<br>Process stopped.</p>
        </f:be.infobox>
    </f:if>

    <f:if condition="!{allNewDatabaseElementsFound}">
        <f:be.infobox title="Error" state="2">
            <p class="lead">The new fields on table pages and tt_content do not exists, please run the "Analyze Database Structure" tool and add that fields (but do not remove any tables or fields) and come back afterwards.<br>Process stopped.</p>
        </f:be.infobox>
    </f:if>
    <f:if condition="!{storagePidsAreFine}">
        <f:be.infobox title="Error" state="2">
            <p class="lead">You have some Template Objects inside Workspaces, as this is unusal and hart to determine what you have done, you need to check for yourself what needs to be done, to get this cleaned up. (This may be old data, left behind by an older and broken TemplaVoilà! or TYPO3 version and can be removed from database.)<br>Process stopped.</p>
        </f:be.infobox>
    </f:if>

    <f:if condition="!{allDsToValid}">
        <f:be.infobox title="Error" state="2">
            <p class="lead">You have DataStructures and/or Template Objects which have errors while checking.<br>Process stopped.</p>
            <ul class="list-group">
                <f:for each="{validationDsToErrors}" as="validationError">
                    <li class="list-group-item list-group-item-danger">{validationError}</li>
                </f:for>
            </ul>
        </f:be.infobox>
    </f:if>

    <f:if condition="!{allPagesContentValid}">
        <f:be.infobox title="Error" state="2">
            <p class="lead">You have Pages or content elements which have errors while checking.<br>Process stopped.</p>
            <ul class="list-group">
                <f:for each="{validationPagesContentErrors}" as="validationError">
                    <li class="list-group-item list-group-item-danger">{validationError}</li>
                </f:for>
            </ul>
        </f:be.infobox>
    </f:if>

    <f:if condition="{indentation} == 0">
        <f:then>
            <f:be.infobox title="Information" state="-1">
                <p class="lead">The indentation in XML files will be one tabular. You can change this also to a number of chars in the extension configuration.</p>
            </f:be.infobox>
        </f:then>
        <f:else>
            <f:be.infobox title="Information" state="-1">
                <p class="lead">The indentation in XML files will be {indentation} char(s). You can change this in the extension configuration.</p>
            </f:be.infobox>
        </f:else>
    </f:if>


    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">DataStructures</h3></div>
                <div class="panel-body">
                <ul class="list-group">
                    <f:for each="{validatedDs}" as="ds">
                        <li class="list-group-item {f:if(condition:'{ds.valid}',then:'list-group-item-success',else:'list-group-item-danger')}">{ds.title} <span class="badge">{ds.countUsage}</span></li>
                    </f:for>
                </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Template Object</h3></div>
                <div class="panel-body">
                <ul class="list-group">
                    <f:for each="{validatedToWithDs}" as="to">
                        <li class="list-group-item {f:if(condition:'{to.valid}',then:'list-group-item-success',else:'list-group-item-danger')}">{to.title} <span class="badge">{to.countUsage}</span>
                            <f:if condition="{to.childTO}">
                                <f:comment>Repeatable? => Partial</f:comment>
                                <ul class="list-group" style="margin:0">
                                    <f:for each="{to.childTO}" as="childTo">
                                        <li class="list-group-item {f:if(condition:'{to.valid}',then:'list-group-item-success',else:'list-group-item-danger')}">{childTo.title} Type: {childTo.rendertype}</li>
                                    </f:for>
                                </ul></li>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
                </div>
            </div>
        </div>
    </div>

    <f:if condition="!{allChecksAreFine}">
        <p class="lead">Please fix the errors before you can continue in this Update Script. After fixing all issues you can rerun this step. It may be possible, that other errors arrise after your changes.</p>
    </f:if>

    <f:if condition="{allChecksAreFine}">
        <p class="lead">It seams all your data is fine, so you can go to the next step. Or rerun this step, if you changed some data (maybe deleted a DS or TO as it was unused).</p>
    </f:if>

    <form action="#" method="POST">
        <input type="hidden" name="update" value="TemplaVoilaPlus8" />
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-default btn-block btn-lg" type="submit" name="step" value="start">
                    <core:icon identifier="actions-view-go-back" /> Back to start
                </button>
            </div>
            <div class="col-sm-4">
                <button class="btn {f:if(condition='{allChecksAreFine}', then='btn-default', else='btn-success')} btn-block btn-lg" type="submit" name="step" value="1">
                    <core:icon identifier="actions-system-refresh" /> Rerun step 1
                </button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary btn-block btn-lg {f:if(condition='!{allChecksAreFine}', then='disabled')}" type="{f:if(condition='{allChecksAreFine}', then='submit', else='button')}" name="step" value="2">
                    <core:icon identifier="actions-view-go-forward" /> Continue with step 2
                </button>
            </div>
        </div>
    </form>
</div>
